@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("/static/img/whj.png");
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
  overflow: hidden;
}

.container {
  margin-left: auto;
  width: fit-content;
  height: 300px;
  background: #444753;
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

.chat {
  height: 700px;
  width: 490px;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.chat .chat-header {
  padding: 10px;
  border-bottom: 2px solid white;
}

.chat .chat-header img {
  float: left;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {
  color: #92959e;
}

.chat .chat-header .fa-star {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 450px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #6aa851;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #ffece6;
  color: #fa5f1c;
}
.chat .chat-history .my-message:after {
  border-bottom-color: #ffece6;
  color: #5843be;
  left: 93%;
}

.chat .chat-history .other-message {
  background: #c6ddf1;
  color: #5843be;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #c6ddf1;
  color: #5843be;
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
}

.chat .chat-message input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message button {
  padding: 5px 10px;
  float: right;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background: #ff6400;
}

.init-chat {
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background: #ff6400;
}

.init-chat:hover {
  background: #ce5504;
}
.chat .chat-message button:hover {
  background: #ce5504;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #6aa851;
}

.offline {
  color: #e38968;
}

.me {
  color: #94b3ed;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.chat-container {
  display: none;
}
