@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url("/static/img/whj.png");
    background-repeat: no-repeat;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
    overflow: hidden;
}

.container {
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    background: #444753;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 1rem;
}

.chat {
    position: fixed;
    bottom: 0;
    right: 0;
    height: fit-content;
    width: 350px;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(1, 136, 172);
    padding: 10px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 18px;
}

.chat .chat-header .chat-num-messages {
    color: #92959e;
}

.chat .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    background: white;
    padding: 0;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 300px;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 5px 15px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 80%;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #6aa851;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: rgba(255, 236, 217, 0.5);
    color: #707070;
}
.chat .chat-history .my-message:after {
    border-bottom-color: rgba(255, 236, 217, 0.5);
    color: #707070;
    left: 93%;
}

.chat .chat-history .other-message {
    background: rgb(216, 239, 245);
    color: rgb(1, 136, 172);
}

.chat .chat-history .other-message:after {
    border-bottom-color: rgb(216, 239, 245);
    color: rgb(1, 136, 172);
    left: 93%;
}

.chat .chat-message {
    padding: 30px;
}

.chat .chat-message input {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message button {
    padding: 10px 20px;
    float: right;
    color: #ffffff;
    font-size: 14px;
    /* text-transform: uppercase; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background: rgb(1, 136, 172);
}

.chat-close {
    margin-left: auto;
    width: fit-content;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
}

.init-chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    /* text-transform: uppercase; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.63);
    background: rgb(1, 136, 172);
}

.init-chat:hover {
    background: rgb(1, 136, 172);
}
.chat .chat-message button:hover {
    background: rgb(1, 136, 172);
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #6aa851;
}

.offline {
    color: #e38968;
}

.me {
    color: #94b3ed;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}

/* Opt container */
#chatopt-container {
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    min-height: 400px;
}

#chatopt-container label {
    margin-top: 1rem;
}

#chatopt-container .dropdown {
    height: 40px;
    width: 300px;
}

#chatopt-container .dropdown-select {
    height: 40px;
    width: 300px;
    font-size: 16px;
    margin-top: 3px;
}

#start-chat-btn {
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-left: auto;
}

/* drowdown container */
.param-dropdowns {
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: rgb(1, 136, 172);
    font-weight: bold;
    font-size: 18px;
}

/* Custom Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(
        top,
        transparent,
        rgba(0, 0, 0, 0.06)
    );
    background-image: -moz-linear-gradient(
        top,
        transparent,
        rgba(0, 0, 0, 0.06)
    );
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.06)
    );
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before,
.dropdown:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}

.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

.dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #000;
    text-shadow: 0 1px white;
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}

.dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
    .dropdown-select {
        padding-left: 6px;
    }
}

#transfer-btn {
    padding-left: 2rem;
    padding-bottom: 2rem;
}

/* Utility Classes */
.is-hidden {
    display: none !important;
}
