<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Live Chat</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link
            rel="shortcut icon"
            href="/static/img/favicon.ico"
            type="image/x-icon"
        />
    </head>
    <body>
        <div class="param-dropdowns">
            <div>{{context.Name}}</div>
            <div>{{context.Phone}}</div>
            <div id="dialcode" class="is-hidden">{{context.DC}}</div>
        </div>
        <!-- End Param Dropdown -->
        <div id="chat-container" class="container clearfix is-hidden">
            <div class="chat">
                <div class="chat-header clearfix">
                    <img
                        src="/static/img/avatar.png"
                        alt="avatar"
                        style="border-radius: 30px; height: 45px"
                    />

                    <div
                        class="chat-about"
                        style="padding-top: 5px; color: white"
                    >
                        <div class="chat-with"></div>
                    </div>
                    <div class="chat-close" onclick="closeChat();">
                        <i class="fas fa-lg fa-times"></i>
                    </div>
                </div>
                <!-- end chat-header -->

                <div id="chatopt-container">
                    <label for="issue-type">Category</label>
                    <div class="dropdown">
                        <select
                            id="issue-type"
                            name="issue-type"
                            class="dropdown-select"
                            onchange="showSubtype()"
                        >
                            <option value="">Select Class Type</option>
                            <option value="pci">Paid Class Issue</option>
                            <option value="tci">Trial Class Issue</option>
                        </select>
                    </div>
                    <label for="issue-subtype">Sub-category</label>
                    <div
                        id="issue-subtype-container"
                        class="dropdown is-hidden"
                    >
                        <select
                            id="issue-subtype"
                            name="issue-subtype"
                            class="dropdown-select"
                        >
                            <option value="" selected>Select Sub-Type</option>
                        </select>
                    </div>
                    <div id="start-chat-btn">
                        <button class="btn" onclick="startChat()">
                            <i class="fas fa-comment"></i>
                            Start Chat
                        </button>
                    </div>
                </div>
                <!-- end chat opt container -->

                <div id="chat-hist-container" class="chat-history is-hidden">
                    <ul></ul>
                </div>
                <!-- end chat-history -->

                <div id="chat-message" class="chat-message clearfix is-hidden">
                    <input
                        type="text"
                        name="message-to-send"
                        id="message-to-send"
                        placeholder="Type your message"
                        rows="3"
                        onkeydown="sendMessageOnEnter(event)"
                    />
                    <button onclick="sendMessage()">
                        <i class="fa fa-paper-plane"></i> Send
                    </button>
                </div>
                <!-- end chat-message -->
            </div>
            <!-- end chat -->
        </div>
        <button
            id="initchatbtn"
            onclick="toggleItem('chat-container');toggleItem('initchatbtn');"
            class="init-chat"
        >
            <i class="fa fa-user"></i> Chat with Us
        </button>
        <!-- end container -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>
